* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    /* font-family: "Sansita", sans-serif; */
    font-family: "Sansita", sans-serif;
}

body {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

header {
    background-color: rgba(29, 77, 114, 1);
    /*0.753*/
    /* background-color: rgba(9, 9, 87, 0.753); */
    /* navy; */
    /* #2c3e50; */
    /*#ddd; */
    text-align: center;
    /* padding: 1rem; */
    border: 1px solid rgb(0 0 0 / 0.1);

    color: white;
}

h1 {
    font-size: 2rem;
    text-align: center;
    color: white;
    padding: 1rem 0 1rem 0;
    background-color: rgba(29, 77, 114, 1);
    /*0.753*/
    /*rgba(9, 9, 87, 0.753); */
}

h2 {
    border-radius: 8px 8px 0 0;
    padding: 1rem 0 1rem 0;
    font-size: 1.5rem;
    text-align: center;
    background-color: rgba(29, 77, 114, 1);
    /*0.753*/
    /* background-color: rgba(9, 9, 87, 0.753); */
    /*navy*/
    color: white
}

.moscow {
    background-color: #ddd;
    color: #36454f;
}

p {
    padding: 1rem;
}

nav {
    background-color: #36454f;
    margin: 0 auto;
    max-width: 100%
        /*800px;*/
}

nav ul {
    list-style-type: none;
}

nav a {
    display: block;
    color: #fff;
    text-align: center;
    padding: 0.5rem;
    text-decoration: none;
}

nav a:hover {
    text-decoration: overline;
    /* background-color: #3498db; */
}

.active {
    color: yellow;
}

/* larger/wider views **************************/
@media (min-width: 640px) {
    nav ul {
        display: flex;
    }

    nav ul li {
        flex: 1 1 100%;
    }
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 20px;
    padding: 20px 0;
    /* border-top: 5px solid navy; */
    /* background-image: linear-gradient(to bottom, blue 5px, transparent 5px); */
    /* Adjust thickness (5px) and color */
}

.imgme {
    /* width: 150px;
    height: auto; */
    float: right;
    padding: 1rem;
}

hr {
    border: 0;
    border-top: 2px solid purple;
}

.msc {
    /* width: 150px;
    height: auto; */
    float: left;
    padding: 1rem;
}

.italic-caption {
    font-style: italic;
    text-align: center;
    color: gray;
}

.card {
    background-color: #ddd;
    /*  #ecf0f1;  */
    /* padding: 1rem; */
    border-radius: 8px;
    border: 1px solid rgb(0 0 0 / 0.1);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.asidenav {
    display: block;
    background-color: #ddd;
    /* #ecf0f1; */
    /* #36454f; */
    color: black;
    text-align: left;
    /* text-align: center; an initial stage */
    /* left;  */
    padding: 0.5rem;
    text-decoration: none;
    /* text-decoration: solid; */
    /* text-decoration-color: black; */
}

.asidenav a {
    color: black;
    /* Override link color */
    text-align: left;
    text-decoration: solid;
    padding: 1rem;
    padding-left: 2rem;
    /* Override left padding (adjust as needed) */
    font-weight: bold;
}

/* Unvisited links (default) */
asidenav a:link {
    color: blue;
    text-decoration: none;
}

/* Visited links */
asidenav a:visited {
    color: purple;
}

/* Hover state */
a:hover {
    color: #ff0000;
    /* Red */
    text-decoration: underline;
}

/* Active (clicked) state */
a:active {
    color: greenyellow;
    /* #ff4500; */
    /* Orange */
}

/* .card { 
    display: grid;
    grid-template-columns: 1fr;
    /*2fr 1fr*/
/*auto;*/
/* grid-template-rows: auto;  1fr 1fr; */
/* grid-column-start: 1; */
/*   order: -1;
} */

footer {
    background-color: rgba(29, 77, 114, 1);
    /*0.753*/
    /* background-color: rgba(9, 9, 87, 0.753); */
    /* navy; */
    /* #2c3e50; */
    /*#ddd; */
    text-align: center;
    color: white;
    padding: 1rem;
    border: 1px solid rgb(0 0 0 / 0.1);
}